/* Styling for the peanut eat text */

html {
    font-size: 1.5em;
}

body {
    background-color: #000;
    font-family: "Lora";
    color: white;
    font-weight: 400;
    height: 100%;
    display: grid;
    grid-template-rows: 120px auto 120px;
    grid-template-columns: auto;
    grid-template-areas: 
      "header"
      "main"
      "footer";
    margin: 0px;
    padding: 0px;
  }

header {
    width: 100%;
    height: 120px;
    text-align: center;
    grid-area: header;
    margin: 0px;
    padding: 0px;
}

footer {
    width: 100%;
    height: 120px;
    text-align: center;
    grid-area: footer;
    margin: 0px;
    padding: 0px;
}

main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    grid-area: main;
    overflow-y: auto;
    padding-top: 120px;
}

#start-text {
    flex-grow: 2;
}

h2 {
    margin: 0px auto;
    text-align: center;
}

a {
    display: block;
    margin: 0px auto;
    text-align: center;
}

a:active, a:hover, a:link, a:visited {
    color: #ffffff;
    text-decoration: underline;
    
}

#pics {
    display: flex;
    flex-flow: column wrap;
}

#pics div {
    flex: 0 0 40%;
}

img {
    width: 256px;
}
