/* Custom styling. Overrides sources where needed. */

html {
    font-size: 1.2em;
    max-width: 38rem;
    padding: 2rem;
    margin: auto;
}

body {
    background-color: #000;
    font-family: "Lora";
    color: white;
    font-weight: 400;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

header {
    width: 100%;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

footer {
    width: 100%;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    grid-area: main;
}

#start-text {
    flex-grow: 2;
}

h2 {
    margin: 0px auto;
    text-align: center;
}

a.nav_link {
    display: block;
    margin: 0px auto;
    text-align: center;
}

a.nav_link:active, a.nav_link:hover, a.nav_link:link, a.nav_link:visited {
    color: #ffffff;
    text-decoration: underline;
}

#pics {
    display: flex;
    display: none;
    flex-flow: column wrap;
}

#pics div {
    flex: 0 0 40%;
}

img {
    width: 512px;
    ;
}

h3 {
    color: RGB(255, 224, 130);
    margin: 0px auto;
    text-align: center;
    font-size: 2em;
    font-weight: 600;
}

#pitcher_matcher {
    margin: 0px auto;
    text-align: center;
    padding: 20px;
    background-color: rgb(100, 55, 110);
    border-radius: 30px;
    font-size: 1.25em;
}
