/* eltrov added this for the BETA tag */
.beta {
	margin: 10px;
	padding: 5px;
	font-family: "Open Sans", "Helvetica Neue", sans-serif;
	font-weight: 400;
	font-weight: 700;
	font-size: 14px;
	font-weight: 700;
	border-radius:3px;
	text-transform: uppercase;
	background:hsla(0, 0%, 39.6%, .65098);
	-webkit-font-smoothing: antialiased;
	
	/* positioning stuff */
	border-radius: 3px;
	position: absolute;
	left: 10px;
	top: -30px;
}  